<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>

	<appSettings>
		<!-- RepDB API Settings -->
		<add key="repdb_creds" value="autoclassification-repdb-credentials" />
		<add key="repdb_creds_region" value="us-west-2" />
		<add key="engine" value="mcafee-raiden-eng" />
		<add key="detection_start_date" value="2024-02-01" />
		<!-- RepDB API Settings -->
	</appSettings>
</configuration>
